<div class="row">
  <div class="col-1">
    <img
      src="../../assets/images/user.png"
      alt=""
      height="100px"
      width="100px"
    />
  </div>
  
  <div class="col-3" style="margin-left: 20px;">
    <h1 class="empName">{{empData.empName}}</h1>
    <p class="empId">{{empData.empId}}</p>
  </div>

  <div class="col-7">
      <h1 style="float: right;" class="attendance">No. of class attended: <span>20/20</span></h1>
  </div> 
  
</div>

<div class="  linegraphlayout">
     <div style="height: 20px; width: 800px; margin-top: -40px; margin-left: 50px;">
        <canvas id="lineChart"  ></canvas>
     </div>
</div>
