<!-- batch droop down section -->
<div style="margin-top: 10px" class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <div class="dropdown">
      <a
        class="btn  dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Batch Name
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <button style="background: transparent; border: none;">Batches</button>
      </div>
    </div>
  </div>
</div>

<!-- row for graphs -->
<div
  style="background-color: white; margin-top: 20px; margin-left: 40px"
  class="row"
>
  <div class="col-4 doughnutDiv">
    <h3>Gender</h3>
    <canvas
      id="doughnutChart"
      height="250px"
      style="margin-left: -20px; margin-top: -40px"
    ></canvas>
  </div>
  <div class="col-4 barchart1" >
    <h3>Year of passing</h3>
    <canvas id="barChart1"  height="300px" width="500px" style="margin-top: -50px;"></canvas>
  </div>
  <div class="col-4 barChart2">
    <h3>Experiance</h3>
    <canvas id="barChart2"  height="300px" width="500px" style="margin-top: -30px;"></canvas>
  </div>
</div>

<div
  style="background-color: white; margin-top: 20px; margin-left: 40px"
  class="row"
>
  <div class="col-6 barChart3">
    <h3>Employee degree</h3>
    <canvas id="barChart3" height="110px" style="margin-top: -50px;"></canvas>
  </div>
  <div class="col-6 pieChart">
    <h3>Batch Performance</h3>
    <canvas id="pieChart2" height="200px" style="margin-top: -50px;"></canvas>
  </div>
</div>
