<!-- batch droop down section -->
<div style="margin-top: 10px" class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <div class="dropdown">
      <a
        class="btn  dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Batch Name
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <button style="background: transparent; border: none;">Batches</button>
      </div>
    </div>
  </div>
</div>

<!-- row for graphs -->
<div
  style="background-color: white; margin-top: 20px; margin-left: 40px"
  class="row"
>
  <div class="col-4 doughnutDiv">
    <h3>Gender</h3>
    <canvas
      id="doughnutChart"
      
     
    ></canvas>
  </div>
  <div class="col-4 barchart1" >
    <h3>Year of passing</h3>
    <canvas id="barChart1"></canvas>
  </div>
  <div class="col-4 barChart2">
    <h3>Experience</h3>
    <canvas id="barChart2" ></canvas>
  </div>
</div>

<div
  style="background-color: white; margin-top: 20px; margin-left: 40px"
  class="row"
>
  <div class="col-6 barChart3">
    <h3>Employee degree</h3>
    <canvas id="barChart3" style="margin-top: -20px;"></canvas>
  </div>
  <div class="col-6 pieChart">
    <h3>Batch Performance</h3>
    <canvas id="pieChart" ></canvas>
  </div>
</div>
