.logo {
    width: 120px;
    height: 31px;
    margin-top: -40px;
    margin: 0px 30px 16px 0;
    float: left;
  }
  nz-input-group{
      width: 500px;
      height: 31px;
      background:#dddde0;
      margin: 16px 30px 16px 0;
      margin-left: 220px;
  }
  
  .header-menu {
    line-height: 64px;
  }
  
  .sider-menu {
    height: 100%;
    border-right: 0;
    margin:70px 30px 16px 0;
  }
  
  .inner-layout {
    padding: 0 24px 24px;
  }
  
  nz-breadcrumb {
    margin: 16px 0;
  }
  
  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  nz-layout{
      width: 1349px;
      height: 1000px;
  }
  nz-header{
      background-color: #FFFFFF;
  }
  
  nz-sider{
      margin: 1px 0px 0px 0px;
  }
  .but{
      background: transparent;
      border: none;
      color: #086288;
      height: 60px;
      width:  75px;
      border-radius: 6px;
      margin-left: 0px;

  }
  #but1{
      margin-top: -20px;
      /* margin-left: -10px; */
      font-size: 12px;
  }
  #but2{
      margin-top: 20px;
      margin-left: -15px;
  }
  .trans {
      background:transparent;
      color: #086288;
      
  }
  
  .col {
      background-color:#086288;
      color: white;
  }
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  